@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* No nead coment for css. It's purpose test github branch */

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
  max-width: 600px;
  min-width: 400px;
  }

button {
  font-family: Roboto, sans-serif;
  padding: 0.5em;
  border: none;
  border-radius: 8px;
  background: #eee;
  min-width: 120px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 16px 0;
}

.header {
  padding: 8px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

ul,a {
  list-style-type: none;
  display: inline-flex;
  padding-left: 0px;
  gap: 15px;
  text-decoration: none;
  color: rgb(41, 40, 40);
  /* min-width: 150px; */
  }

.content {
  height: 38em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer {
  background: #eeeeee;
  padding: 0px 20px;
  height: 2.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}