.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 10px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: inline-flex;
  /* by default ul/ol get's margin-left: 40px; */
  padding: 0 20px;
  gap: 15px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
